.app {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.app-header {
	background-color: #333;
	padding: 10px;
	color: white;
}

.game {
	padding: 2em;
}

.game.game-paused .board {
	background-color: #EEE;
}
.game.game-paused .board .cell {
	opacity: 0;
	pointer-events: none;
}

.board {
	border: 1px solid #CCC;
	display: table;
	margin: auto;
	padding: 1px;
}

.board-row {
	display: table-row;
}

.cell {
	width: 36px;
	height: 36px;
	display: table-cell;
	border: 0;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: inset rgba(255,255,255,0.5) 0 0 0 1px;
	text-align: center;
}

.cell.uncleared, .cell.uninitialised {
	background-color: #9aa4cf;
}

.cell.uncleared:hover, .cell.uninitialised:hover {
	opacity: 0.9;
}

.cell.cleared {
	cursor: default;
}

.cell.flagged {
	background: #9aa4cf url(images/flag.gif) 50% 50% / 50% no-repeat;
}

.close-0 , .close-1 , .close-2 , .close-3 , .close-4 , .close-5 , .close-6 , .close-7 , .close-8 {
	background-color: #E1E1E1;
	font-size: 20px;
	font-weight: 600;
}
.close-1 {color: rgb(0, 0, 255);}
.close-2 {color: rgb(0, 120, 0);}
.close-3 {color: rgb(255, 0, 0);}
.close-4 {color: rgb(0, 0, 120);}
.close-5 {color: rgb(120, 0, 0);}
.close-6 {color: rgb(0, 150, 255);}
.close-7 {color: rgb(255, 90, 0);}
.close-8 {color: rgb(0, 0, 0);}

.hit-mine {
	background-color: #FF3232;
	font-weight: bold;
	color: black;
}

.cell .mine {
	font-size: 25px;
}