html {
	background-color: #f7f7f7;
}

.app {
	min-width: 1000px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333;
}

.app-header {
	background-color: #333;
	padding: 1px;
	color: #fff;
	position: relative;
}
.app-header-help-icon {
	padding: 3px;
	font-size: 2em;
	margin: 0.67em;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.help-modal {
	position: fixed;
	padding: 1em 2em;
	top: 100px;
	left: 0;
	right: 0;
	width: 700px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 6px 2px;
	display: none;
}

.help-modal.help-modal-open {
	display: block;
}

.help-modal ul {
	display: inline-block;
	text-align: left;
}

.help-modal .help-modal-close-icon {
	position: absolute;
	right: 1.5rem;
	top: 01rem;
	font-size: 2rem;
	color: #f34d4d;
	cursor: pointer;
}

.game.game-paused .board {
	background-color: #eee;
}

.game.game-paused .board .cell {
	opacity: 0;
	pointer-events: none;
}

.board {
	border: 4px solid #e1e1e1;
	display: table;
	margin: 2em auto;
	padding: 1px;
}

.board.board-lost {
	border-color: #f34d4d;
	animation: border-flash 0.25s linear 0s 3;
}

.board.board-won {
	border-color: #65de54;
}

.board-row {
	display: table-row;
}

.board-header {
	display: table-caption;
	position: relative;
	height: 3.5em;
	margin-bottom: 5px;
}

.board-header-item {
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	font-size: 2em;
	box-sizing: border-box;
}

.board-header-item.mines-remaining {
	left: 0;
	color: #fff;
	background: linear-gradient(to bottom, #f34d4d, #e01310);
	padding-left: 1em;
	justify-content: flex-start;
}

.board-header-item.mines-remaining.success {
	background: linear-gradient(to bottom, #65de54, #38b027);
}

.board-header-item.time-elapsed {
	right: 0;
	color: #777;
	background: linear-gradient(to bottom, #eee, #ccc);
	padding-right: 1em;
	justify-content: flex-end;
}

.board-header-item-icon {
	margin-right: 0.5em;
	font-weight: bold;
}

.cell {
	min-width: 38px;
	min-height: 38px;
	width: 38px;
	height: 38px;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
.cell.cell-focused {
	border: 1px solid #333;
}

.cell.cell-state-uncleared,
.cell.cell-state-reveal-mine-unfound {
	background: linear-gradient(to top left, rgb(154, 164, 207), rgb(135, 145, 192));
}

.game:not(.game-finished) .cell.cell-state-uncleared:hover {
	background: linear-gradient(to top left, rgba(154, 164, 207, 0.9), rgba(135, 145, 192, 0.9));
}

.cell.cell-state-cleared {
	cursor: default;
}

.cell.cell-state-flagged {
	background: #9aa4cf url(images/flag.gif) 50% 50% / 50% no-repeat;
}

.cell.cell-state-0 {
	opacity: 0.8;
}

.cell.cell-state-0,
.cell.cell-state-1,
.cell.cell-state-2,
.cell.cell-state-3,
.cell.cell-state-4,
.cell.cell-state-5,
.cell.cell-state-6,
.cell.cell-state-7,
.cell.cell-state-8 {
	background-color: #e1e1e1;
	font-size: 20px;
	font-weight: 600;
}

.cell.cell-state-1 {color: rgb(0, 0, 255);}
.cell.cell-state-2 {color: rgb(0, 120, 0);}
.cell.cell-state-3 {color: rgb(255, 0, 0);}
.cell.cell-state-4 {color: rgb(0, 0, 120);}
.cell.cell-state-5 {color: rgb(120, 0, 0);}
.cell.cell-state-6 {color: rgb(0, 150, 255);}
.cell.cell-state-7 {color: rgb(255, 90, 0);}
.cell.cell-state-8 {color: rgb(0, 0, 0);}

.cell.cell-state-hit-mine {
	background-color: #f34d4d;
	color: #fff;
}
.cell.cell-state-hit-mine .mine {
	animation: pulse 1s linear 0s infinite;
	display: block;
}

.cell.cell-state-hit-mine,
.cell.cell-state-reveal-mine-found,
.cell.cell-state-reveal-mine-unfound {
	font-weight: bold;
}

.cell.cell-state-reveal-mine-found {
	background-color: #65de54;
}
.cell.cell-state-reveal-mine-wrong {
	color: white;
	background: #f0cf5c;
}
.cell.cell-state-reveal-mine-wrong i {
	font-size: 24px;
	line-height: 38px;
	font-weight: bold;
}

.cell .mine {
	font-size: 27px;
	line-height: 38px;
	width: 38px;
	height: 38px;
}

.control-row {
	margin: 1em 0;
}

.control {
	padding: 0 1em;
	display: inline-block;
}

.control input {
	padding: 10px;
	border: 1px solid #ccc;
	outline: none;
	width: 3em;
}

.control label {
	margin-right: 0.5em;
	color: #777;
}

.control input:invalid {
	border: 1px solid #e01310;
}

button {
	border: 1px solid #ccc;
	cursor: pointer;
	background: linear-gradient(to bottom, #fff, #eee);
	padding: 12px;
	font-size: 0.9em;
	outline: none;
	font-family: inherit;
}

button:hover, button:active {
	background: #f7f7f7;
	background: linear-gradient(to bottom, #fff, #e1e1e1);
}

@keyframes border-flash {
	25% {
		border-color: #f34d4d;
	}
	75% {
		border-color: #e1e1e1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(0.8);
	}
}